<h1> User Information</h1>

<h2> Add a User</h2>
<form class = "create-form">
	<div class = "form-group"</div>
		<label for = "name">Name</label>
		<input type = "text" id = "name" name = "name">

		<label for = "age">Age</label>
		<input type = "text" id = "age" name = "age">
	
		<label for = "height">Height</label>
		<input type = "text" id = "height" name = "height">
		
		<label for = "weight">Weight</label>
		<input type = "text" id = "weight" name = "weight">
	
		<label for = "gender">Gender</label>
		<select id = "gender">
    		<option value="" disabled selected>Select your gender</option>
    		<option value="female">Female</option>
    		<option value="male">Male</option>
		</select>
	</div>
	<button type = "submit">submit</button>
<form>



